@font-face {
    font-family: "Jersey";
    src: url(./font/Jersey10-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font {
    color: rgb(255, 255, 255);
    font-family: "Jersey";
    text-align: center;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
}

.wrapper{
    background-image: url(./img/bgc2.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.cont{
    display: grid;
    justify-content: center;
    padding-top: 30vh;
}
.data {
    font-size: 18vw;
}
.data2 {
    font-size: 4vw;
}